@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&display=swap');

:root {
    --fonte-principal: 'Squada One', cursive;
    --fonte-secundaria: 'Roboto', sans-serif;
    --cor-principal: #fff;
    --cor-secundaria: #000;
}

.main {
    background-image: url('./images/video.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0;

    .text {
        font-family: 'Martian Mono', monospace;
        color: var(--cor-principal);
        font-size: 60px;
        text-transform: uppercase;
        text-shadow: var(--cor-secundaria) 1px 1px 2px;
    }

    .video {
        display: flex;
        flex-direction: column;
        gap: 3rem 0;
    }

}